<h1>Welcome to Rock, Paper, Scissors!</h1>
<p>Game Basics
  How to Play – Quick Start
  What is amazing about RPS is that for a game of such complexity the rules
  are actually very simple. The game obviously becomes more nuanced as you
  dive further into, but if you want to get playing
  right away you only need know the following:</p>

  <p>THE WORLD RPS SOCIETY – OFFICIAL ABRIDGED RULES OF PLAY</p>

  <p>1.0 The Game is played where the players substitute the three
    elements of Rock, Paper and Scissors with representative hand signals.</p>

  <p>2.0 These hand signals are delivered simultaniously by the players</p>

  <p>3.0 The Outcome of play is determined by the following</p>

  <p>Rock wins against Scissors,
  Scissors wins against Paper
  Paper wins against Rock
  That’s it! You are now ready to play a few games and get the hang of it.
  Once you are ready you can get into the deeper aspects of the game by reading further.</p>

  <p>“To the beginner the choices are few, to the expert the choices are many.”

  Wojek Smallsoa, as quoted in The Trio of Hands, 1962
  The Hand Signals<p>

  <p>In order to ensure fair play, players must strive to make their hand signals as representative and as uniform as possible. The following techniques for representing the throws have been developed and approved by the World RPS Society for all levels of recreational and professional play. Collectively they are known as the Internationally Recognized Throwing System (IRTS) and as long as they are utilized they will ensure unambiguous deliver every time.
  Proper use of the opening move is crucial to success in the game and can secure the advantage for the remainder of the match. Let’s take each of the basic opening moves in turn:
  <br></br>
<p>Internationally Recognized Rock: represented by a closed fist with the thumb resting at least at the same height as the topmost finger of the hand. The thumb must not be concealed by the fingers. Note: To accommodate different throwing styles, it is considered legal for the first knuckle of the thumb to point downward._ _Use of rock as an opening move is seen by many players to be a sign of aggression. Rock also happens to be the most effortless of the throws and fast reactions are never required to employ it with success. By careful examination of the options and atmosphere of play, a well-placed rock will crush a carelessly thrown pair of scissors every time.</p>
<br></br>
  <p>Internationally Recognized Paper: Is also delivered in the same manner as rock with the exception that all fingers including the thumb are fully extended and horizontal with the points of the fingers facing the opposing player. Use of the “vertical paper” (sometimes referred to as “the handshake”) is strictly forbidden in Tournament play due to its close resemblance to ‘scissors if is thrown without care.
  Paper is actually the most challenging of the basic opening moves since it requires the manual displacement of the most digits. It is therefore generally viewed as the least obvious of opening throws. Should you open with a paper be forewarned that a reply of scissors will cut you down to size in no time flat.
  Paper - Proper hand Position</p>
<br></br>

  <p>Internationally Recognized Scissors:</p>

  <p>Is delivered in the same manner as rock with the exception that the
    index and middle fingers are fully extended toward the opposing player.
    It is considered good form to angle the topmost finger upwards and the
    lower finger downwards in order to create a roughly 30–45 degree angle
    between the two digits and thus mimic a pair of scissors. Note: The use of
    Horizontal Scissors is strictly forbidden in Tournament play due to its
    close resemblance to ‘paper’ if is thrown without care</p>

  <p>Opening with a pair of scissors assumes that you are playing against an
     opponent who has tight control over their aggressive tendencies and
     therefore may not open with a scissor-smashing rock. One of the main
     pitfalls of opening with scissors is the tendency by many to reveal the
     throw too early, allowing an experienced opponent to easily counter.</p>

<br></br>


  <p>Beyond the Basics – The Prime, the Approach and the Delivery</p>

  <p>As a game that relies on both players delivering there throws at the same
  time, there are a couple things a player needs to know</p>

  <p>The Prime</p>



  <p>The Prime</p>





  <p>The prime is the ritual used to get players in sync with each other
    so they can deliver their throws simultaneously. It is the action of
    retracting one’s fist from full-arm extension towards the shoulder and
    then back to full extension. This phase is critically important. If at
    any time the players are not in synch with their primes, then play must
    stop and begin again. Having players deliver their throws at the same
     time is critical to ensuring a fair match.</p>





  <p>Priming conventions generally fall into two classes:</p>

  <p>1) European Prime: Three prime shoot. Players pump their arms in unison
    three times before starting the Approach phase.</p>
  <p>2) North American Prime: Two Prime Shoot. Players pump their arms in
    unison twice before starting the Approach phase.</p>

<p>  The Approach</p>

<p>  The ApproachThe Approach is the transition phase between the final
prime and the Delivery. As one’s arm makes its final descent a player is
required to make a decision about the throw they will make. The Approach
begins at the shoulder following the final prime and ends when the arm makes
 a 90-degree angle with the player’s body. Players must reveal their chosen
  throw to their opponent prior to reaching the 90-degree mark. Any throw
  delivered past this critical point must be considered a Forced Rock
  (since this is the position the hand would have been in upon crossing
  the 90-degree mark).</p>





  <p>The Delivery</p>

  <p>Once firmly in the Approach phase, it is time to shift focus to
    the Delivery. Since the hand is technically already in the Rock position
     it must either be switched to another throw or remain as Rock. It is
     necessary to decide what to throw at this point. Release the throw too
     early and risk your opponent reading the throw and adjusting accordingly.
     Release too late and risk a foul or a Forced Rock.</p>
